.DS_STORE
/.sync-config.cson
/.idea
/node_modules
/typings
/vendor
/npm-debug.log
/app/**/*.js
/app/**/*.js.map
/public_html/dist
/public_html/index.php


lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

public/libs
